# SERIES

In [2]:
import pandas as pd
import numpy as np

## Series creation

### Using numpy.ndarray

In [3]:
a1 = np.array([3,6,9,12])
s1 = pd.Series(a1, ['a', 'b', 'c', 'd'])
s1

a     3
b     6
c     9
d    12
dtype: int64

### Using Python dictionary

In [4]:
d1 = {'one': 1, 'two': 2, 'three': 3, 'four': 4}
s2 = pd.Series(d1)
s2

four     4
one      1
three    3
two      2
dtype: int64

### Using scalar values

In [5]:
s3 = pd.Series(45, index=['item1', 'item2', 'item3'])
s3

item1    45
item2    45
item3    45
dtype: int64

## Operations on Series

### Assignment

In [6]:
s4 = pd.Series(0, index=['a', 'b', 'c', 'd'])
s4

a    0
b    0
c    0
d    0
dtype: int64

In [9]:
s4['a']

0

In [11]:
s4['b'] = 99
s4

a     0
b    99
c     0
d     0
dtype: int64

In [14]:
s4.get('f', np.NAN)

nan

### Slicing

In [16]:
s5 = pd.Series({'a': 55, 'b': 26, 'c': 97, 'd': 72, 'e': 7, 'f': 29, 'g': 44})
s5

a    55
b    26
c    97
d    72
e     7
f    29
g    44
dtype: int64

In [18]:
s5[2::2]

c    97
e     7
g    44
dtype: int64

In [20]:
s5[s5 > 50]

a    55
c    97
d    72
dtype: int64

### Other operations