# MANIPULATING DATA

We first import the NYC taxi dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('data/nyc_data.csv', parse_dates=['pickup_datetime', 'dropoff_datetime'])
fare = pd.read_csv('data/nyc_fare.csv', parse_dates=['pickup_datetime'])

In [8]:
data.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,76942C3205E17D7E7FE5A9F709D16434,25BA06A87905667AA1FE5990E33F0E2E,VTS,1,NaN,2013-01-01 00:00:00,2013-01-01 00:05:00,3,300,0.61,-73.955925,40.781887,-73.963181,40.777832
1,517C6B330DBB3F055D007B07512628B3,2C19FBEE1A6E05612EFE4C958C14BC7F,VTS,1,NaN,2013-01-01 00:05:00,2013-01-01 00:21:00,1,960,3.28,-74.005501,40.745735,-73.964943,40.755722
2,ED15611F168E41B33619C83D900FE266,754AEBD7C80DA17BA1D81D89FB6F4D1D,CMT,1,N,2013-01-01 00:05:52,2013-01-01 00:12:18,1,386,1.50,-73.969955,40.799770,-73.954567,40.787392
3,B33E704CC189E80C9671230C16527BBC,6789C77E1CBDC850C450D72204702976,VTS,1,NaN,2013-01-01 00:06:00,2013-01-01 00:06:00,6,0,0.00,-73.991432,40.755081,-73.991417,40.755085
4,BD5CC6A22D05EB2D5C8235526A2A4276,5E8F2C93B5220A922699FEBAFC2F7A54,VTS,1,NaN,2013-01-01 00:06:00,2013-01-01 00:12:00,2,360,1.31,-73.966225,40.773716,-73.955399,40.782597

In [9]:
fare.tail()

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
846940,9F29B1D177C67F2731E69EAA85D49367,5500334F780132AC7D883F01F869212E,CMT,2013-12-31 23:51:41,CRD,7.0,0.5,0.5,1.6,0.0,9.6
846941,C76AB9E3B27A5CC4F7087CFB109F51AE,6B8BA824723DE0DAB63B980B1DC843CE,CMT,2013-12-31 23:54:00,CSH,28.0,0.5,0.5,0.0,0.0,29.0
846942,D87EB3AD2ED303B3D92E37D871B2C2E9,F578F0435B49B3D7B9A7AAFC663A82CD,VTS,2013-12-31 23:59:00,CSH,8.5,0.5,0.5,0.0,0.0,9.5
846943,F74743D90F84644B1FA4576F4A82A8A3,537121DB04EC62BADFA44D8F03755A64,VTS,2013-12-31 23:59:00,CRD,7.5,0.5,0.5,1.0,0.0,9.5
846944,E5DCEBA68A6094576B10AFC609C61E29,735F78FA4CB06B5CB7122FF31822F68E,CMT,2013-12-31 23:59:24,CSH,19.0,0.5,0.5,0.0,0.0,20.0

## Selecting data

### Selecting columns

In [3]:
data[['trip_distance', 'trip_time_in_secs']].head(6)

   trip_distance  trip_time_in_secs
0           0.61                300
1           3.28                960
2           1.50                386
3           0.00                  0
4           1.31                360
5           5.81               1620

### Selecting rows

The ``loc`` attribute of a DataFrame is used to select row(s) from their labels. Here, we select the first row:

In [4]:
data.loc[0]

medallion             76942C3205E17D7E7FE5A9F709D16434
hack_license          25BA06A87905667AA1FE5990E33F0E2E
vendor_id                                          VTS
rate_code                                            1
store_and_fwd_flag                                 NaN
pickup_datetime                    2013-01-01 00:00:00
dropoff_datetime                   2013-01-01 00:05:00
passenger_count                                      3
trip_time_in_secs                                  300
trip_distance                                     0.61
pickup_longitude                              -73.9559
pickup_latitude                                40.7819
dropoff_longitude                             -73.9632
dropoff_latitude                               40.7778
Name: 0, dtype: object

Multiple rows can be selected by providing a list of labels:

In [7]:
data.loc[[0, 5, 20]]

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,76942C3205E17D7E7FE5A9F709D16434,25BA06A87905667AA1FE5990E33F0E2E,VTS,1,NaN,2013-01-01 00:00:00,2013-01-01 00:05:00,3,300,0.61,-73.955925,40.781887,-73.963181,40.777832
5,61E558C4FCB0BCB8562FC37B06B97FFE,76DC5E351A0E646679BCA84B18B37B9A,VTS,1,NaN,2013-01-01 00:07:00,2013-01-01 00:34:00,1,1620,5.81,-73.955238,40.768978,-73.994064,40.720299
20,7257A55FFAB4C29F08A9A40F510FC2B6,E3590A87560D47E221285458CEAC02E2,CMT,1,N,2013-01-01 00:13:38,2013-01-01 00:21:57,1,498,2.50,-73.969917,40.753067,-73.988152,40.722668

We can also select regularly spaced rows using slices.

In [37]:
fare.loc[150000:200000:10000, ['fare_amount', 'total_amount']]

        fare_amount  total_amount
150000          8.5         10.70
160000         31.0         40.83
170000          6.0          6.50
180000         10.0         10.50
190000         20.0         25.62
200000         15.0         15.50

``loc`` expects actual labels and, unlike normal Python slices, the start and end points are both inclusive! Also, we could have used ``iloc`` instead of ``loc`` to specify index positions rather than labels.

In [41]:
fare.iloc[-200:-700:-100][['payment_type', 'surcharge']]

       payment_type  surcharge
846745          CRD        0.5
846645          CSH        0.5
846545          CRD        0.5
846445          CRD        0.5
846345          CSH        0.5

### Filtering with boolean indexing

Instead of selecting rows by labels, we can also select rows satisfying specific properties. This is a more common use-case in data analysis.

In [44]:
data.loc[data.trip_distance > 100]

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
504497,7237EC7ABD6114EDDC87A3AA846F8418,D52502537E2DF62C9BFFECF5A387E7E9,CMT,1,N,2013-08-02 11:22:31,2013-08-02 11:33:03,1,631,6005123.0,-73.997467,40.736397,-73.991882,40.764629
507107,50DA72F510E2F84A42712E13744FAC7B,EA9D03A766C1D32A6668FFF0C1EB4E4B,CMT,1,N,2013-08-04 18:42:17,2013-08-04 20:37:19,3,4290965,181.8,-73.978020,40.765167,-73.815041,40.730076
548988,A978A0AAE9B2CFEE310FACD97A09C319,CE56A27F53ABF411094B6CD708BFBA96,CMT,1,N,2013-08-24 17:03:27,2013-08-24 17:03:29,1,1,442.0,-73.993896,40.702644,-73.993874,40.702637
558665,5A5C516A820FE476E9D3E14101B669AC,C24585AA866FC76A4E09A05F55DC7E54,CMT,2,N,2013-08-29 10:01:40,2013-08-29 11:52:20,1,6640,164.4,-73.791534,40.661026,-73.983734,40.765778

In [48]:
data.loc[[False, True, False, True, True]]

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
1,517C6B330DBB3F055D007B07512628B3,2C19FBEE1A6E05612EFE4C958C14BC7F,VTS,1,NaN,2013-01-01 00:05:00,2013-01-01 00:21:00,1,960,3.28,-74.005501,40.745735,-73.964943,40.755722
3,B33E704CC189E80C9671230C16527BBC,6789C77E1CBDC850C450D72204702976,VTS,1,NaN,2013-01-01 00:06:00,2013-01-01 00:06:00,6,0,0.00,-73.991432,40.755081,-73.991417,40.755085
4,BD5CC6A22D05EB2D5C8235526A2A4276,5E8F2C93B5220A922699FEBAFC2F7A54,VTS,1,NaN,2013-01-01 00:06:00,2013-01-01 00:12:00,2,360,1.31,-73.966225,40.773716,-73.955399,40.782597

Creating a slider displaying rows with a distance larger than the threshold:

In [49]:
from ipywidgets import interact

In [53]:
@interact
def show_rows(distance_threshold=(55, 255, 20)):
    return data.loc[data.trip_distance > distance_threshold]

More selection, indexing, and filtering facilities are described in pandas' documentation. Here are a few references:
* http://pandas.pydata.org/pandas-docs/stable/dsintro.html
* http://pandas.pydata.org/pandas-docs/stable/indexing.html

## Computing with numbers