# BASIC INDEXING

In [1]:
import pandas as pd
import numpy as np

data = {
    'AN': (200.9, 102, 38, 645, 24, 675, 2143),
    'BT': (32.7, 244, 79, 743, 123, 765, 32),
    'CP': (259.2, 22, 144.4, 213, 65, 876, 43),
    'DM': (92, 462, 29.6, 132, 65, 97, 324),
    'EY': (291, 64.2, 11, 274, 56, 86, 243),
    'FI': (765, 21.4, 76, 453, 134, 876, 654),
    'GM': (12, 45, 10, 123, 65, 987, 4),
    'HV': (3, 91, 633, 33, 765, 31, 75)
}
df = pd.DataFrame(data, index=['2001', '2003', '2005', '2007', '2009', '2011', '2013'])
df

          AN     BT     CP     DM     EY     FI   GM   HV
2001   200.9   32.7  259.2   92.0  291.0  765.0   12    3
2003   102.0  244.0   22.0  462.0   64.2   21.4   45   91
2005    38.0   79.0  144.4   29.6   11.0   76.0   10  633
2007   645.0  743.0  213.0  132.0  274.0  453.0  123   33
2009    24.0  123.0   65.0   65.0   56.0  134.0   65  765
2011   675.0  765.0  876.0   97.0   86.0  876.0  987   31
2013  2143.0   32.0   43.0  324.0  243.0  654.0    4   75

Using the [] operator:

In [2]:
df['BT']

2001     32.7
2003    244.0
2005     79.0
2007    743.0
2009    123.0
2011    765.0
2013     32.0
Name: BT, dtype: float64

We can pass a list of columns to the [] operator in order to select the columns in a particular order:

In [3]:
df[['CP', 'DM', 'EY']]

         CP     DM     EY
2001  259.2   92.0  291.0
2003   22.0  462.0   64.2
2005  144.4   29.6   11.0
2007  213.0  132.0  274.0
2009   65.0   65.0   56.0
2011  876.0   97.0   86.0
2013   43.0  324.0  243.0

If we specify a column that is not listed in the DataFrame, we will get a KeyError exception:

In [4]:
df['FF']

KeyError: 'FF'

We can avoid this error by using the get operator and specifying a default value in the case when the column is not present, as follows:

In [5]:
df.get('FF', [])

[]

## Accessing attributes using dot operator
One can retrieve values from a Series, DataFrame, or Panel directly as an attribute as follows:

In [6]:
df.EY

2001    291.0
2003     64.2
2005     11.0
2007    274.0
2009     56.0
2011     86.0
2013    243.0
Name: EY, dtype: float64

## Range slicing
For a DataFrame, [] slices across rows as follows:

In [8]:
df[-2::-2]

         AN     BT     CP     DM     EY     FI   GM  HV
2011  675.0  765.0  876.0   97.0   86.0  876.0  987  31
2007  645.0  743.0  213.0  132.0  274.0  453.0  123  33
2003  102.0  244.0   22.0  462.0   64.2   21.4   45  91

In [9]:
df['BT'][1:4]

2003    244.0
2005     79.0
2007    743.0
Name: BT, dtype: float64

In [10]:
df[1:4]['BT']

2003    244.0
2005     79.0
2007    743.0
Name: BT, dtype: float64