In [1]:
import pandas as pd

### Not In

In [2]:
a = pd.DataFrame({
    'id': [4, 2, 8, 9],
    'value': [89, 33, 82, 41]
})

In [3]:
a

   id  value
0   4     89
1   2     33
2   8     82
3   9     41

In [4]:
idx = [0, 3]

In [5]:
a.iloc[idx]

   id  value
0   4     89
3   9     41

In [6]:
a.iloc[~a.index.isin(idx)]

   id  value
1   2     33
2   8     82